{% if request.authenticated_userid %}
  <a href="{{ request.route_url('logout')}}">Logout</a>

  <p>You are authenticated.</p>
  {% else %}
  <a href="{{ request.route_url('login')}}">Log In</a>
  <a href="{{ request.route_url('register')}}">Register</a>

  <p>You are not authenticated.</p>
  {% endif %}