<form method="POST">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <label>First Name:</label>
    <input type="text" name="first_name">
    <label>Email:</label>
    <input type="text" name="email">
    <label>Last Name:</label>
    <input type="text" name="last_name">
    <label>Favorite Food:</label>
    <input type="text" name="favorite_food"><button type="submit">Register</button>
</form>